<div class="p-3 bg-white border-radius-1 shadow text-center">
  <ul class="nav nav-pills nav-fill w-100">
    <li class="nav-item">
      <%= link_to "Pessoas", search_users_path, class: "nav-link rounded-pill #{'active' if action_name == 'users'}" %>
      <!-- <a class="nav-link rounded-pill <%= 'active' if action_name == 'people' %>" href="#people" data-toggle="tab">Pessoas</a> -->
    </li>
    <li class="nav-item">
      <%= link_to "Postagens", search_posts_path, class: "nav-link rounded-pill #{'active' if action_name == 'posts'}" %>
      <!-- <a class="nav-link rounded-pill <%= 'active' if action_name == 'posts' %>" href="#posts" data-toggle="tab">Postagens</a> -->
    </li>
  </ul>

  <div class="tab-content mt-4">
    <div class="tab-pane <%= 'active' if action_name == 'users' %>" id="people">
    <%= form_with url: search_users_path, method: :get, local: true do |form| %>
      <%= form.text_field :q, placeholder: " Procurar", class: "form-control bg-creamy h4 m-0", id:"input", value: params[:q] %>
    <% end %>
    </div>
    <div class="tab-pane  <%= 'active' if action_name == 'posts' %>" id="posts">
      <%= form_with url: search_posts_path, method: :get, local: true do |form| %>
        <%= form.text_field :q, placeholder: " Procurar", class: "form-control bg-creamy h4 m-0", id:"input", value: params[:q] %>
      <% end %>
    </div>
  </div>

</div>
