<% if @filtered_category %>

<div class="my-3 p-3 bg-white border-radius-1 shadow-sm text-center position-relative">
  <%= link_to :back, class: "position-absolute", style: "left: 25px; top:0; bottom:0;" do %>
  <i class="fas fa-chevron-left h2 position-absolute text-secondary" style="top: 50%; transform: translateY(-50%)"></i>
  <% end %>
  <h2><%= @filtered_category.icon %></h2>
  <h3><%= @filtered_category.name.pluralize.titleize %></h3>
</div>

<% else %>

<div class="overflow-auto d-flex justify-content-xl-center mt-3">
  <% Category.all.each do |category| %>
  <%= link_to request.query_parameters.merge(category_id: category), class:"text-center btn bg-white border-radius-1 shadow-sm m-2 px-3 flex-fill" do %>
  <div>
    <h3><%= category.icon %></h3>
    <h5><%= category.name.pluralize.titleize %></h5>
  </div>
  <% end %>
  <% end %>
</div>

<% end %>
