<% if @filtered_category %>

<div class="my-3 p-3 bg-white border-radius-1 shadow-sm text-center position-relative">
  <%= link_to :back, class: "position-absolute", style: "left: 25px; top:0; bottom:0;" do %>
  <i class="fas fa-chevron-left h2 position-absolute text-secondary" style="top: 50%; transform: translateY(-50%)"></i>
  <% end %>
  <h2><%= @filtered_category.icon %></h2>
  <h3><%= @filtered_category.name.pluralize.titleize %></h3>
</div>

<% else %>

<div class="overflow-auto d-flex justify-content-xl-center mt-3">
  <% Category.all.each do |category| %>
  <%= link_to request.query_parameters.merge(category_id: category), class:"text-center btn bg-white border-radius-1 shadow-sm m-2 px-3 flex-fill" do %>
  <div>
    <h3><%= category.icon %></h3>
    <h5><%= category.name.pluralize.titleize %></h5>
  </div>
  <% end %>
  <% end %>
</div>

<% end %>

<div class="d-none d-md-block row my-3 text-center">

  <div class="col-6 my-3 mx-auto">
    <div class="card border-0 border-radius-1 shadow-sm h-100 mx-md-2 overflow-hidden">
      <div class="p-2">

        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary rounded-pill my-1 font-poppins" data-toggle="modal" data-target="#new-post-category">
            <i class="las la-plus"></i>
            Adicionar
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
