<header class="navbar sticky-top navbar-light bg-white p-0 container-fluid">
  <div class="col-md-2 text-center">
    <%= link_to "💬 Recomendo 👌", root_path, class:"navbar-brand m-1 text-center h1" %>
  </div>
  <div class="col-md-8">
    <div class="d-none d-md-block">
      <%= link_to search_users_path, class: "btn btn-sm rounded-pill btn-light font-poppins px-5 #{'active' if controller_name == 'search'}" do %>
      <i class="las fa-search"></i> explorar
      <% end %>

    </div>
  </div>
  <div class="col-md-2 text-right">
    <div class="d-none d-md-block">
      <% if user_signed_in? %>
        <%= link_to current_user, class: "p-2" do %>
          <%= image_tag current_user.thumbnail, size: 32, class:'rounded-circle' %>
        <% end %>
      <% else %>
        <%= link_to('Login', new_user_session_path) %>
      <% end %>
    </div>
    <!-- <a class="text-muted" href="javascript:history.back()"><i class="fas fa-chevron-left"></i></a> -->
    <!-- <a class="m-0 text-muted" href="/posts"><i class="fas fa-ellipsis-v"></i></a> -->
  </div>

</header>
