<!-- Category Select -->
<div class="modal fade" id="new-post-category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-turbo-permanent>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          O que você recomenda?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-2">

        <% Category.all.each do |category| %>
        <div class="col my-2">
          <%= link_to "#", class: "btn btn-lg btn-light btn-outline-secondary w-100 border-radius-1", data: {dismiss: 'modal', toggle: 'modal', target: '#new-post-modal', category_id: category.id, category_name: category.name_with_icon } do %>
            <%= category.icon %> <br>
            <%= category.name.titleize %>
          <% end %>
        </div>
        <% end %>
      </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog" aria-labelledby="new-post-modalLabel" aria-hidden="true" data-tubo-permanent>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-post-modalLabel">+ Nova Recomendação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <% post = Post.new %>
      <%= form_for post do |f| %>

      <div class="modal-body">

        <div class="form-group required">
          <%= f.label :title, "Título" %>
          <%= f.text_field :title, class:"form-control", placeholder:"", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :tag_ids, "Tags" %>
          <%= f.text_field :tag_list, value: f.object.tag_list.join(","), data:{role:"tagsinput"} %>
        </div>

        <div class="row row row-cols-1 row-cols-md-2 d-none">
          <div class="col">
            <div class="form-group">
              <%= f.label :category_id, "Categoria" %>
              <%= f.select :category_id, categories_for_select, { include_blank:"" }, { class:'form-control' } %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="">
          </div>

          <%= f.label :url, "Link" %>
          <div class="border border-radius-1 mx-2 d-none" id="link-preview">
            <div class="p-3">
              <p class="font-weight-bold mb-1" id="link-title"></p>
              <p class="m-0 text-muted line-clamp-2" id="link-description"></p>
            </div>
          </div>
          <%= f.url_field :url, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :body, "Descrição" %>
          <%= f.text_area :body, class:"form-control" %>
        </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="cancel-modal">Cancelar</button>
        <%= f.submit "Publicar", class:"btn btn-primary" %>
      </div>

      <% end %>
    </div>
  </div>
</div>
