<div class="col my-3">

  <div class="card border-left-<%= post.category.try(:name) %> border-0 border-radius-1 box-shadow h-100 mx-md-2 overflow-hidden" id="post_<%= post.id %>">

    <div class="card-header border-bottom-0">

      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-3">
          <%= link_to user_path(post.user), class: "" do %>
          <%= image_tag post.user.thumbnail, size: 40, class:'rounded-circle' %>
          <% end %>
        </div>
        <div class="w-100">
          <%= link_to post.user.full_name, post.user, class: "h6 text-dark" %><br>
          Recomendou um <u><%= link_to post.category.name, post.category, class: "text-dark" %></u><br>
          <small class="text-muted"><%= localize(post.created_at, format: :long) %></small>
        </div>
        <div class="ml-3">
          <%= link_to post.category, class: "btn btn-circle background-#{post.category.name} btn-outline-light d-flex align-items-center justify-content-center" do %>
          <%= post.category.try(:icon) %>
          <% end %>
        </div>
      </div>
      <div class="text-right text-nowrap overflow-auto">
        <small class="align-top">
          <% post.tags.each do |tag| %>
          <span class="badge badge-pill badge-info py-1"><%= tag.name %></span>
          <% end %>
        </small>
      </div>

    </div>

    <div class="card-body">
      <div class="post-body">
        <a class="read-more collapsed" href="#post_<%= post.id %>_collapse" data-toggle="collapse" role="button"></a>

        <div class="collapse" id="post_<%= post.id %>_collapse" aria-expanded="false">
          <h5 class="my-1"><%= post.title %></h5>
          <%= simple_format post.body %>
          <% if post.url_data %>
            <%= render 'posts/url_preview', url_data: post.url_data, url: post.url %>
          <% elsif post.url %>
            <%= link_to post.url, post.url, class: 'text-break text-small' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-footer bg-transparent d-flex justify-content-between">


      <div>
        <span class="like">
          <%= render "posts/like_button", post: post %>
        </span>
      </div>
      <div>
        <% if post.user == current_user %>
        <%= link_to "Editar", edit_post_path(post), class: "btn btn-sm btn-outline-secondary rounded-pill" %>
        <% end %>
      </div>

    </div>

  </div>

</div>
